.row{
	margin-bottom: 10px; 
	margin-top: 10px;
}

.first_col{
	text-align: right;
	margin-top: 5px;
}
.second_col{
	text-align: left;
}

.btn{
	font-weight: bold;
}

.radio{
	margin-left: 20px;
}

.labradio{
	margin-left: -20px;
}
